<!DOCTYPE html>
<html>
<head>
    <title>Список links </title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Список links </h1>
    <p><a href="/create">Добавить запись</a></p>
    <table>
        <tr><th>Url</th><th>Info</th><th>Reg Date</th></tr>
        {{#each links}}
            <tr>
                <td>{{this.url}}</td>
                <td>{{this.info}}</td>
                <td>{{this.regdate}}</td>
                <td>
                    <a href="/edit/{{this.id}}">Edit</a>|
                    <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
</body>
<html>